body {
  padding: 0;
}

.no-gutter {
  margin: 0;
  padding-left: 0;
}

@font-face {
  font-family: KumbhSans;
  src: url('./fonts/KumbhSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: KumbhSans;
  src: url('./fonts/KumbhSans-Bold.ttf');
  font-weight: bold;
}