.filter-tag {
  display: inline-block;
  background-color: var(--bs-primary);
  color: var(--bs-light);
  margin: 0 0.2rem 0.1rem 0;
}

.input-group-text {
  background-color: #FFF;
  border-right: none;
  font-size: 0.9rem;
}

.filter-select .form-control, .filter-select input[type=checkbox] { 
  border-right: 1px solid #ced4da !important;
  border-top: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
}

.filter-select input[type=checkbox] {
  border-left: 1px solid #ced4da !important;
}